body {
  	position: relative;
  	top: 40px;
	color: rgb(32, 46, 50);
	background-color: rgb(176, 205, 226);
	font-size: 20px;
	font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}
ul.navigator {
    display: flex;
	flex-direction: row;
    list-style: none;
    width: 100%;
	justify-content: space-evenly;
    column-gap: 1px;
    height: 90px;
    margin: 10;
    padding: 0;
    line-height: 90px;
	background-color: rgb(94, 163, 212);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px -30px 0px 0px rgb(176, 205, 226);
}
li.socials {
    width: 90px;
}
li.other_mods {
    width: 130px;
}
li.socials ul{
    padding-left: 5px;
}
ul{
    padding-left: 5px;
    display: flex;
	flex-direction: column;
    list-style: none;
	background-color: rgb(122, 181, 224);
}
a {
	color: rgb(32, 46, 50);
    text-decoration: none;
}
h1 {
    margin-top: 90px;
}
