body {
  	position: relative;
  	top: 40px;
	color: rgb(32, 46, 50);
	background-color: rgb(176, 205, 226);
	font-size: 20px;
	font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}
ul.navigator {
    display: flex;
	flex-direction: row;
    list-style: none;
    width: 100%;
	justify-content: space-evenly;
    column-gap: 1px;
    height: 90px;
    margin: 10;
    padding: 0;
    line-height: 90px;
	background-color: rgb(94, 163, 212);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px -30px 0px 0px rgb(176, 205, 226);
}
li.socials {
    width: 90px;
}
li.other_mods {
    width: 130px;
}
li.socials ul{
    padding-left: 5px;
}
ul{
    padding-left: 5px;
    display: flex;
	flex-direction: column;
    list-style: none;
	background-color: rgb(122, 181, 224);
}
a {
	color: rgb(32, 46, 50);
    text-decoration: none;
}
.reeling_scythes_header {
	display: flex;
	flex-direction: row;
    justify-content: center;
	max-width: 100%;
	object-fit: cover;
    margin-top: 90px;
}
.information_block {
    margin: 10px;
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 7px;
	background-color: rgb(150, 190, 219);
    margin-left: 120px;
    margin-right: 120px;
}