body {
  	position: relative;
  	top: 40px;
	color: rgb(32, 46, 50);
	background-color: rgb(176, 205, 226);
	font-size: 20px;
	font-family: Arial, sans-serif;
}
ul {
    display: flex;
	flex-direction: row;
    list-style: none;
    width: 100%;
	justify-content: space-evenly;
    column-gap: 1px;
    height: 90px;
    margin: 10;
    padding: 0;
    line-height: 90px;
	background-color: rgb(94, 163, 212);
}
a {
	color: rgb(32, 46, 50);
    text-decoration: none;
}